<!--page fragments used on multiple pages-->
<header>
  <nav>
    <a href="/">MVC Lib</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">New Author</a></li>
    </ul>
  </nav>
</header>
